#board{
    margin: 0 auto;
    height:480px;
    width:480px;
    border: solid 1px black;
    display: flex;
    flex-flow: row wrap;
}

.cell{
    opacity: 0;
}

#buttons{
    display:flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

button{
    margin: 0 20px;
    width: 130px;
    padding: 10px;
}

#shading-btn{
    display: block;
    margin: 4px auto;
}